In [26]:
import pandas as pd
from statsmodels.stats.proportion import proportions_ztest

1. Загрузите данные из файла parfume.csv в датафрейм parf (используйте библиотеку pandas).

In [20]:
df_parf = pd.read_csv('parfume.csv')
df_parf.head()

   Unnamed: 0  X  id  age    group  vote
0           1  1   1   21  control     1
1           2  2   2   20  control     1
2           3  3   3   22  control     2
3           4  4   4   18  control     1
4           5  5   5   23  control     0

2. Оставьте в датафрейме только те строки, которые соответствуют девушкам, предоставившим ответ на вопрос о решении купить/не купить парфюмерную воду. В последующих заданиях необходимо работать с обновленным датафреймом.

In [21]:
df_parf = df_parf[df_parf.vote != 2]
df_parf.head()

   Unnamed: 0  X  id  age    group  vote
0           1  1   1   21  control     1
1           2  2   2   20  control     1
3           4  4   4   18  control     1
4           5  5   5   23  control     0
5           6  6   6   18  control     1

3. Сохраните в датафрейм test строки, соответствующие девушкам из тестовой группы, а в дата- фрейм control — девушкам из контрольной группы.

In [27]:
test = df_parf[df_parf.group == 'test']['vote']
control = df_parf[df_parf.group == 'control']['vote']

77

4. Посчитайте на основе датафреймов test и control значения, необходимые для проверки гипотезы о равенстве долей с помощью функции proportions_ztest.

In [30]:
n = len(test)
ns_test = sum(test)
ns_control = sum(control)

5. Проверьте гипотезу о равенстве долей с помощью функции proportions_ztest, учитывая, что альтернативная гипотеза является односторонней. Сделайте статистический вывод на основе полученного p-value, приняв уровень значимости равным 5% (отвергается или не отвергается нулевая гипотеза). Сделайте содержательный вывод о выборе рекламного ролика (какой из вариантов лучше).

In [31]:
stats, p_value = proportions_ztest((ns_test, ns_control), (n, n))
print('stats: ', stats, 'p-value: ', p_value/2)

stats:  4.2903030695413324 p-value:  8.92147245634709e-06

Так как p-value очень близок к нулю, на уровне значимости 5% мы можем сделать вывод, что доля желающих купить парфюм после просмотра чернобелой рекламы выше чем после просмотра цветной. На уровне значимости 5% мы отвергаем нулевую гипотезу на имеющихся данных  

Содержательный вывод: Доля желающих купить парфюм после просмотра чернобелой рекламы выше, чем после цветного ролика.